  @import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Sora:wght@100;300;500&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Sora', sans-serif;
  }

  :root {
      --pure-white: white;
      --pure-black: black;
      --primary-clr: rgb(13, 16, 41);
      --fx-clr: green;
      --nt-header-: rgb(67, 66, 69);
  }

  .theme-changed {
      --pure-white: rgb(0, 0, 0);
      --pure-black: rgb(255, 255, 255);
  }

  body {
      background: var(--primary-clr);
  }

  .container {
      min-height: 100vh;
      color: var(--pure-white);
      background: none;
  }

  a {
      text-decoration: none;
      color: var(--pure-white);
  }

  li {
      list-style: none;
  }

  button {
      outline: none;
      border: none;
      background: none;
      cursor: pointer;
      color: var(--pure-white);
  }

  .navbar {
      width: 100vw;
      backdrop-filter: blur(20px);
      position: sticky;
      top: 0;
      z-index: 99;
  }

  .header {
      font-size: 1.4rem;
      padding: 10px 20px;
      margin: 0 auto;
      max-width: 550px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .branding {
      padding: 0px 6px;
      font-size: 1.4rem;
  }

  .branding a {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo {
      margin-right: 10px;
  }

  .brand span {
      font-family: 'Satisfy', cursive;
  }

  .follow {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  ul li a {
      margin: 0 6px;
  }

  .thm-btn {
      margin-left: 8px;
      border-left: 1.5px solid rgba(255, 255, 255, 0.2);
      padding-left: 10px;
  }

  .thm-btn i {
      cursor: pointer;
  }

  /* -----btn desgn-------- */
  .adding-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 20px;
      padding-right: 30px;
  }

  .adding-note {
      border-radius: 50px;
      overflow: hidden;
      background: none;
  }

  .add-btn {
      padding: 13px 20px;
      position: relative;
      font-size: 1.1rem;
  }

  .add-btn::after {
      position: absolute;
      content: "";
      top: 0;
      left: 3px;
      height: 100%;
      width: 29%;
      background-color: aqua;
      border-radius: 50px;
      transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
      z-index: -1;
  }


  .add-btn:hover span {
      color: var(--pure-black);
      margin-left: 10px;
  }

  .add-btn:hover i {
      color: rgb(255, 47, 123);
      margin: 0 6px 0 5px;
      transform-origin: center;
      transform: rotate(45deg);
  }

  .add-btn:hover::after {
      background-color: aqua;
      width: 100%;
  }

  .add-btn span {
      color: var(--pure-white);
      transition: all .9s cubic-bezier(0.19, 1, 0.22, 1);
      margin-left: 20px;
  }

  .add-btn i {
      color: var(--pure-black);
      transition: all .9s cubic-bezier(0.19, 1, 0.22, 1);
  }

  /* -------note field------- */
  .note-field {
      min-height: 100vh;
      width: 100vw;
      margin-top: 40px;
      padding: 25px 80px;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 17px;
      position: relative;
  }

  .note-placeholder {
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.4;
  }

  .note {
      border-radius: 7px;
      overflow: hidden;
      width: 280px;
      height: 200px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      background-color: var(--nt-header-);
  }

  .nt-header {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-basis: 25%;
      padding: 0 10px 0 20px;
  }

  .nt-header h3 {
      letter-spacing: .2rem;
      font-weight: bold;
      cursor: default;
      width: 100%;
      flex-grow: 1;
  }

  .nt-header i {
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-basis: 10%;
  }

  textarea {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      resize: none;
      padding: 10px;
  }

  /* footer------------ */

  footer {
      width: 100vw;
      background: rgb(11, 11, 11);
  }

  .footer {
      max-width: 500px;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      padding: 20px 0;
  }

  .footer span {
      font-size: 1rem;
      font-weight: 100;
  }

  .footer h3 {
      font-size: 1rem;
      margin: 10px 0;
  }
