  @import url('https://fonts.googleapis.com/css2?family=Satisfy&family=Sora:wght@100;300;500&display=swap');

  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Sora', sans-serif;
      -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  }

  :root {
      --pure-white: white;
      --pure-black: black;
      --primary-clr: rgb(13, 16, 41);
      --fx-clr: green;
      --nt-header-: rgb(67, 66, 69);
  }

  .theme-changed {
      --pure-white: rgb(0, 0, 0);
      --pure-black: rgb(255, 255, 255);
      --primary-clr: rgb(255, 255, 255);

  }

  /* ----------universal decltn */
  a {
      text-decoration: none;
      color: var(--pure-white);
  }

  li {
      list-style: none;
  }

  input {
      outline: none;
      border: none;
  }

  button {
      outline: none;
      border: none;
      background: none;
      cursor: pointer;
      color: var(--pure-white);
  }

  /*-------------main stylying */

  body {
      background: var(--primary-clr);
      transition: all .4s cubic-bezier(0.19, 1, 0.22, 1);

  }

  .container {
      color: var(--pure-white);
      height: 100vh;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      overflow: hidden;
  }


  .navbar {
      width: 100vw;
      backdrop-filter: blur(20px);
      position: sticky;
      top: 0;
      z-index: 99;
  }

  .header {
      font-size: 1.4rem;
      padding: 15px 20px;
      margin: 0 auto;
      max-width: 600px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-size: 1.6rem;

  }

  .branding {
      padding: 0px 6px;
  }

  .branding a {
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo {
      margin-right: 10px;
  }

  .brand span {
      font-family: 'Satisfy', cursive;
  }

  .follow {
      display: flex;
      align-items: center;
      justify-content: center;
  }

  ul li a {
      margin: 0 6px;
  }

  .thm-btn {
      margin-left: 8px;
      border-left: 1.5px solid rgba(255, 255, 255, 0.2);
      padding-left: 10px;
  }

  body.theme-changed .thm-btn {
      border-left: 1.5px solid rgba(0, 0, 0, 0.2);

  }

  .thm-btn i {
      cursor: pointer;
  }

  /* -----btn desgn-------- */
  .adding-container {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-top: 20px;
      padding-right: 30px;
      width: 100%;
  }

  .adding-note {
      border-radius: 50px;
      overflow: hidden;
      background: none;
  }

  .add-btn {
      padding: 13px 20px;
      position: relative;
      font-size: 1.1rem;
  }

  .add-btn::after {
      position: absolute;
      content: "";
      top: 0;
      left: 3px;
      height: 100%;
      width: 29%;
      background-color: aqua;
      border-radius: 50px;
      transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
      z-index: -1;
  }


  .add-btn:hover span {
      color: var(--pure-black);
      margin-left: 10px;
  }

  .add-btn:hover i {
      margin: 0 6px 0 5px;
  }

  .add-btn:hover::after {
      background-color: aqua;
      width: 100%;
  }

  .add-btn span {
      color: var(--pure-white);
      transition: all .9s cubic-bezier(0.19, 1, 0.22, 1);
      margin-left: 20px;
  }

  .add-btn i {
      color: var(--pure-black);
      transition: all .9s cubic-bezier(0.19, 1, 0.22, 1);
  }

  body.theme-changed .nt-btn-icon {
      color: rgb(0, 0, 0);
  }


  body.theme-changed .add-btn span {
      color: black;
  }



  /* -------note field------- */
  .note-field {
      /* min-height: 100%; */
      width: 100vw;
      margin-top: 40px;
      padding: 25px 80px;
      display: flex;
      align-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;
      position: relative;
      flex-grow: 1;
      overflow-y: scroll;
  }

  .note-placeholder {
      user-select: none;
      pointer-events: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0.4;
  }

  .note {
      border-radius: 7px;
      overflow: hidden;
      width: 280px;
      height: 190px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-direction: column;
      background-color: var(--nt-header-);
  }

  .nt-header {
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-basis: 25%;
      padding: 0 0px 0 15px;
      color: white;
  }

  .nt-header h3 {
      font-weight: bold;
      cursor: default;
      width: 100%;
      flex-grow: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding-right: 15px;

  }

  .nt-header i {
      cursor: pointer;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      flex-basis: 15%;
  }

  .nt-header i:hover,
  .nt-header i:active {
      color: red;
  }

  textarea {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
      resize: none;
      padding: 10px;
      transition: all 1s cubic-bezier(0.19, 1, 0.22, 1);

  }


  body.theme-changed textarea {
      background: rgb(255, 255, 169);
  }

  .nt-date {
      width: 100%;
      padding: 7px 0;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 15px;
      gap: 3px;
  }

  .nt-date span {
      font-size: .8rem;
      opacity: .7;
  }

  /* footer------------ */

  footer {
      width: 100vw;
      background: rgb(11, 11, 11);
  }

  .footer {
      max-width: 500px;
      background: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin: 0 auto;
      padding: 20px 0;
      color: white;
  }

  .footer span {
      font-size: 1rem;
      font-weight: 100;
  }

  .footer h3 {
      font-size: 1rem;
      margin: 10px 0;
  }

  /* popup box---------------// */

  .title-pupUp{
      width: 100vw;
      height: 100vh;
      z-index: 100;
      background: rgba(0, 0, 0, 0.437);
      opacity: 0;
      pointer-events: none;
      user-select: none;
  }

  .title-pupUp.popupShow {
      opacity: 1;
      pointer-events: auto;
  }

  .title-div {
      max-width: 320px;
      width: 100%;
      height: 163px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: white;
      border-radius: 5px;
  }

  .title-div .header,
  .title-div i {
      color: var(--pure-black);
      padding: 7px 10px 7px 18px;
  }

  .title-div i {
      color: red;
  }

  .title-div .header {
      font-size: 16px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-bottom: 1px solid rgba(0, 0, 0, 0.286);
  }

  .title-div form {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      flex-grow: 1;
      gap: 15px;
      padding: 0 20px;
      margin-top: 10px;
  }


  .title-div form input {
      width: 100%;
      padding: 10px;
      border: 2px solid rgba(0, 0, 255, 0);
      border-radius: 5px;
      position: relative;
  }

  .title-div form .popup-placeholder {
      font-size: 13.7px;
      position: absolute;
      top: 45%;
      left: 26.3%;
      transform: translate(-50%, -50%);
      background: white;
      color: rgba(0, 0, 0, 0.6);
      transition: all .5s cubic-bezier(0.23, 1, 0.320, 1);
      opacity: 1;
  }

  .title-div form input:focus~.popup-placeholder,
  .title-div form input:valid~.popup-placeholder {
      font-size: 10px;
      top: 33%;
      padding: 0 5px;
  }

  .title-div form button {
      color: white;
      padding: 10px 40px;
      background: rgb(163, 83, 255);
      border-radius: 5px;
      transition: all .2s cubic-bezier(0.39, 0.575, 0.565, 1);
  }

  .title-div form button:active {
      background: rgb(140, 71, 220);
      scale: .99;
  }

  .title-div form input:focus {
      border: 2px solid rgb(0, 128, 255);
  }








  /* media quesries */

  @media only screen and (max-width:430px) {

      .adding-container {
          position: fixed;
          right: 0;
          left: 0;
          bottom: 20%;
          z-index: 99;
          margin-top: 0;
      }

      .add-btn::after {
          position: absolute;
          content: "";
          top: 0;
          left: 2px;
          height: 100%;
          width: 90%;
          background-color: aqua;
          border-radius: 50px;
          transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
          z-index: -1;
      }

      .add-btn:hover::after {
          background-color: aqua;
          width: 90%;
      }

      .add-btn span {
          display: none;
      }

      .add-btn:hover i {
          color: var(--pure-black);
          margin: 0;
          transform: rotate(0);
      }

      .note-field {
          padding: 25px 50px;
      }

      .note {
          flex-grow: 1;
      }

      .footer span {
          font-size: .7rem;
          font-weight: 100;
      }

      .footer h3 {
          font-size: .7rem;
          margin: 10px 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          gap: 6px;
      }
  }

  @media only screen and (max-width:375px) {

      .header {
          font-size: 1.5rem;

      }

      .note-field {
          padding: 25px;
      }

      .note {
          flex-grow: 1;
      }

      .footer span {
          font-size: .7rem;
          font-weight: 100;
      }

      .footer h3 {
          font-size: .7rem;
          margin: 10px 0;
      }

  }

  @media (min-width:150px) and (max-width:310px) {
      .follow .media {
          display: none;
      }

      .header {
          font-size: 1.3rem;
      }

      .note-field {
          padding: 25px;
      }

      .footer h3 {
          font-size: .7rem;
          margin: 7px 0;
          gap: 5px;
      }

      .footer h3 span {
          font-size: .6rem;
      }

      .note-placeholder {
          font-size: 0.9rem;
          white-space: nowrap;
      }
  }

  @media only screen and (max-width:149px) {
      body {
          overflow: hidden;
      }

      .adding-container,
      .note-field {
          display: none;
      }

      .header {
          flex-direction: column;
          font-size: 1.6rem;
          gap: 40px;
      }

      .branding {
          padding: 0px;
      }

      .logo {
          display: none;
      }

      .footer {
          padding: 20px 24px;
          text-align: center;
      }
  }
