@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&family=Poppins:wght@200;300;400;500&family=Satisfy&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary-clr: rgb(26, 33, 43);
    --head-clr: rgb(17, 21, 40);
    --txt-clr: white;
    --pure-blk: #000000;
}

.light_mode {
    --primary-clr: white;
    --head-clr: rgb(255, 255, 0);
    --txt-clr: rgb(0, 0, 0);
    --pure-blk: #fff;
}

a {
    text-decoration: none;
    color: var(--txt-clr);
}

body {
    min-height: 100vh;
    background: var(--primary-clr);
}

.navbar {
    width: 100vw;
    background: var(--head-clr);
    padding: 10px;
    font-size: 1.5rem;
    transition: all .1s cubic-bezier(0.445, 0.05, 0.55, 0.95);

}

.header {
    margin: 0 auto;
    max-width: 950px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--txt-clr);
}

.header span {
    font-family: 'Satisfy', cursive;
}

.header h3 {
    font-family: 'Fugaz One', cursive;
}

.header .social_media {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.header .theme {
    border-left: 1.2px solid rgba(255, 255, 255, 0.31);
    padding-left: 20px;
}



/*--------------------------------------- button adding  */


.adding_noting {
    display: flex;
    justify-content: flex-end;
    padding: 13px 0;
}

.btn {
    width: 180px;
    height: 40px;
    font-size: 1.3rem;
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--txt-clr);
    transition: all .8s;
    padding: 0 10px 0 40px;
    margin: 10px 20px 10px auto;
}

.btn:hover .circle {
    color: green;
    width: 100%;
}

.btn:hover {
    color: var(--pure-blk);
}

.btn:hover .arrow {
    margin: 10%;
}

.btn .add {
    cursor: pointer;
    border: none;
    outline: none;
    position: relative;
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
}

.btn .circle {
    transition: all .8s;
    position: absolute;
    left: 0;
    background: rgb(0, 255, 191);
    width: 40px;
    height: 40px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    color: #000000;
    z-index: -1;
}

.circle .arrow {
    transition: all .2s;
    margin: 10px;
}


/* note cell */

.nt-container {
    width: 100vw;
    padding: 20px;
    display: flex;
    align-content: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    position: relative;
    transition: all .2s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    min-height: 100vh;
}

.nt-placeholder {
    opacity: .4;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    user-select: none;
}

.note {
    width: 250px;
    height: 170px;
    background: var(--txt-clr);
    display: flex;
    flex-direction: column;
    border-radius: 2px;
    overflow: hidden;
    border: 1.5px solid transparent;

}

.opration {
    width: 100%;
    padding: 4px 0;
    padding-right: 10px;
    border-bottom: .5px solid rgba(0, 0, 0, 0.099);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.opration h3 {
    margin-left: 10px;
    padding: 0;
    font-weight: bolder;
}

.opration i {
    font-size: 1.2rem;
    margin: auto 0;
}

.opration button {
    float: right;
    margin-left: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

.opration .del-icon:hover {
    color: red;
}

.opration .edit-icon:hover {
    color: rgb(0, 42, 255);
}

.writing {
    flex-grow: 2;
}

.note textarea {
    resize: none;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 9px;
}

.note textarea::placeholder {
    font-size: .9rem;
}


.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    background: var(--head-clr);
    padding: 20px 0;
    color: var(--txt-clr);
}

.footer h1 {
    text-transform: capitalize;
    font-size: 0.9rem;
    font-weight: lighter;
    letter-spacing: .2rem;

}

.footer h3 {
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: 500;
}

.footer span {
    text-transform: capitalize;
    font-size: 0.7rem;
    margin-top: 10px;
    font-weight: 100;
}




/* theme changing  */

body.light_mode .btn {
    color: var(--txt-clr);
}

body.light_mode .social_media .theme {
    border-left: 2px solid rgba(0, 0, 0, 0.294);
}

body.light_mode .note {
    border: 1.5px solid rgb(245, 245, 245);
}

body.light_mode .opration {
    background: var(--primary-clr);
    outline: 1px solid red;
}

body.light_mode textarea {
    background: rgb(255, 255, 163);
}



/* delete custom modal */


.dlt-modal {
    width: 250px;
    height: 110px;
    position: absolute;
    background-color: var(--txt-clr);
    color: var(--pure-blk);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    top: 50%;
    left: 50%;
    transform: scale(0) translate(-50%, -50%);
    pointer-events: auto;
    transition: transform .2s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    display: none;

}

.dlt-modal span {
    margin-bottom: 10px;

}

.dlt-modal button {
    background: none;
    border: none;
    outline: none;
    border-radius: 8px;
    font-size: 1.52rem;
    width: 90px;
    margin: 0 5px;
    cursor: pointer;

}

.dlt-modal #dlt-yes {
    background: red;
    color: var(--txt-clr);
}

.dlt-modal #dlt-no {
    background: rgb(16, 232, 55);
    color: var(--txt-clr);
}